.business {
    text-align: center;
    h3 {
        margin-bottom: 1.5rem;
    }
    .submit-button {
        position: relative;
        margin-top: 1.5rem;
    }
    .business-type, .business-class, #newBusinessPlus {
        cursor: pointer;
    }

    .business-type, .business-class {
        display: inline-block;
        margin: 0 0 0.5rem 0.5rem;
        transition: background $animationTime ease;
        h4 {
            transition: color $animationTime ease;
            margin: 0;
        }
        &:hover, &.active {
            background: $primary;
            h4 {
                color: #fff;
            }
        }
    }

    #newBusinessPlus {
        fill: $dark;
        margin: 2rem auto;
        max-width: 14rem;
        margin: 0 auto;
        transition: fill $animationTime ease;
        &:hover {
            fill: $primary;
        }
    }
}