.business, .staff {
    text-align: center;
    h3, h2 {
        margin-bottom: 1.5rem;
    }
}

.business-type, .business-class, .staff-member, #newBusinessPlus {
    cursor: pointer;
}

.business-type, .business-class, .staff-member {
    display: block;
    margin: 0 0 0.5rem 0.5rem;
    transition: background $animationTime ease;
    @media screen and (min-width: 550px) {
        display: inline-block;
    }
    h4, h3, p, li {
        transition: color $animationTime ease;
        margin: 0;
    }
    &:hover, &.active {
        background: $primary;
        h4, h3, p, li {
            color: #fff;
        }
    }
}

.business-table {
    td:hover {
        cursor: pointer;
    }
}

.plus-center {
    text-align: center;
}

#newBusinessPlus {
    fill: $dark;
    margin: 2rem auto;
    max-width: 14rem;
    margin: 0 auto;
    transition: fill $animationTime ease;
    &:hover {
        fill: $primary;
    }
}