html, body {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#app {
  flex: 1;
}

.columns .card {
    margin-bottom: 1rem;
}

section {
    padding: 1.5rem 2.5rem;
}

/* FOOTER */
body > footer {
    background: $primary;
    color: white;
    fill: white;
    padding: 0.8rem 2rem 0.6rem;
    text-align: center;
    .copy {
        position: relative;
        display: block;
    }
    @media screen and (min-width: 768px) {
        text-align: right;
        .copy {
            text-align: left;
            position: absolute;
            left: 2rem;
            margin-top: 0.3rem;
        }
    }
    svg {
        fill: white;
        transition: fill $animationTime ease;
        &:hover {
            fill: black;
        }
    }
    a {
        color: white;
        font-weight: bold;
        &:last-child {
            margin-right: 0rem;
        }
    }
}

/* GRID OVERRIDES */
.columns {
  margin: 1rem 0;
}