/* Include all the other SCSS files here,
 * and make sure to import variables first
 * so the other files can use the variables. */
@import "variables";
@import "layout";
@import "login";
@import "nav";
@import "business";
@import "account";

/* Don't show vue stuff until it's loaded!
 * You can and should use this class on any
 * vue-y data (e.g.: <div v-cloak>{{message}}</div>) */
[v-cloak] {
  display: none;
}
/* FORM OVERRIDES */
#form {
  margin: auto auto 1.5rem;
}
// Custom style for the sign in/sign up buttons
a.card-footer-item {
  transition: background $animationTime ease,
              color $animationTime ease;
  background: lighten($grey, 25%);
  color: $white;
  pointer-events: none;
  &.is-enabled {
    background: $white;
    color: $primary;
    pointer-events: all;
    &:hover {
      background: $primary;
      color: $white;
    }
  }
}