nav {
    padding: 1rem 0.75rem;
    .button {
        min-width: 8rem;
    }
}

.nav-item {
    margin: 0 0.75rem;
}

/* Custom Logo CSS */
.vueture-logo {
  margin: 0.5rem 0.5rem 0 0;
  fill: $info;
}
#logo:hover .vueture-logo {
  fill: $white;
}
#logo p {
  margin: 0 0 0 0.25rem;
}
